# Gradle cache.
.gradle

# File system files.
.DS_Store

# AndroidStudio workspace state.
*.iml
/.idea
local.properties

# Build dirs.
/app/build
/build
/buildSrc/build

# Test run data.
/captures
/testdata
/logs
